<head>
    <title>Bundle list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"  
      href="../../css/main.css" th:href="@{/css/main.css}" />
</head>

<div th:switch="${bundles}">
    <h2 th:case="null">No bundles yet!</h2>
        <div th:case="*">
            <h2>bundles</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>                        
                    </tr>
                </thead>
                <tbody>
                <tr th:each="bundle : ${bundles}">
                    <td th:text="${bundle.name}"></td>
                    <td><a th:href="@{edit/{id}(id=${bundle.id})}">Edit</a></td>                    
                </tr>
            </tbody>
        </table>
    </div>      
    <p><a href="@{/add}">Add a new bundle</a></p>
</div>
<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
<a href="http://40.122.30.210:8090/swagger-ui.html">swagger-ui</a>