<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Spring Thyme Seed Starter Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/stsm.css" th:href="@{/css/stsm.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <link rel="stylesheet" type="text/css" media="all"  href="../../css/main.css" th:href="@{/css/main.css}" />
    <script type="text/javascript" src="/js/search7.js"></script>
    <script type="text/javascript" src="/js/dropdown7.js"></script>    

  </head>

  <body>

    <div>
      <img src="../../images/stsmlogo.png" alt="STSM logo" title="STSM logo" 
           th:src="@{/images/stsmlogo.png}" th:alt-title="#{title.application}"/>
    </div>
    
    <div class="seedstarterlist" th:unless="${#lists.isEmpty(allSeedStarters)}">
    
      <h2 th:text="#{title.list}">List of Seed Starters</h2>
      
      <table>
        <thead>
          <tr>
            <th th:text="#{seedstarter.datePlanted}">Date Planted</th>
            <th th:text="#{seedstarter.covered}">Covered</th>
            <th th:text="#{seedstarter.type}">Type</th>
            <th th:text="#{seedstarter.features}">Features</th>
            <th th:text="#{seedstarter.rows}">Rows</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="sb : ${allSeedStarters}">
            <td th:text="${{sb.datePlanted}}">13/01/2011</td>
            <td th:text="#{|bool.${sb.covered}|}">yes</td>
            <td th:text="#{|seedstarter.type.${sb.type}|}">Wireframe</td>
            <td th:text="${#strings.arrayJoin(
                             #messages.arrayMsg(
                               #strings.arrayPrepend(sb.features,'seedstarter.feature.')),
                             ', ')}">Electric Heating, Turf</td>
            <td>
              <table>
                <tbody>
                  <tr th:each="row,rowStat : ${sb.rows}">
                    <td th:text="${rowStat.count}">1</td>
                    <td th:text="${row.variety.name}">Thymus Thymi</td>
                    <td th:text="${row.seedsPerCell}">12</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>

    // begin new mijn test gedeelte
    <div>
    
      <h2 th:text="#{title.new}">Add new Song</h2>

      <form action="#" th:action="@{/seedstartermng}" th:object="${seedStarter}" method="post">
        <fieldset>
          <legend th:text="#{seedstarter.data}">Seed Starter Data</legend>
          <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          </ul>
          
          <div>
            <label for="type" th:text="#{seedstarter.type}">Type</label>
            <select th:field="*{type}" onchange="getSongs(this);">
              <option th:each="type : ${allTypes1}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
            </select>
          </div>


          <div class="dropdown">
            <button class="dropbtn" id="bundledropbtn" onclick="return false;">Dropdown Bundel</button>
            <div class="dropdown-content" id="dropdown-content-bundle">
                  <div th:each="bundle : ${allTypes1}">
                        <a th:href="|javascript:retrieveSongs(${bundle.id})|" th:id="bundle_${bundle.id}"><span th:text="${bundle.name}"></span></a>
                  </div>
              </div>
          </div>
         
  <span class="subtitle">Song list form</span>
  <div class="listBlock">
      <!-- Results block -->
      <div id="resultsBlockSongs">
      
      </div>
  </div>

  <span class="subtitle">Verses list form</span>
  <div class="listBlock">
      <!-- Results block -->
      <div id="resultsBlockVerses">
      
      </div>
  </div>
</form>

<div th:fragment="resultsList" th:unless="${#lists.isEmpty(songs)}" class="results-block">
<!--  <table>
      <thead>
          <tr>
              <th th:text="#{results.song.id}">Id</th>
              <th th:text="#{results.song.name}">Name</th>
          </tr>
      </thead>
      <tbody>
          <tr th:each="song : ${songs}">
              <td th:text="${song.id}">id</td>
              <td th:text="${song.name}">surname</td>
          </tr>
      </tbody>
  </table>
---------------------------------------
-->
  <div>    
    <select th:field="*{songs}" onchange="getVerses(this);">
      <option th:each="song : ${songs}" th:value="${song.id}" th:text="${song.name}">Wireframe</option>
    </select>
  </div>

  <div class="dropdown">
    <button cslsass="dropbtn" id="songdropbtn" onclick="return false;">Dropdown Songs</button>
    <div class="dropdown-content" id="dropdown-content-song">
          <div th:each="song : ${songs}">
                <a th:href="|javascript:retrieveVerses(${song.id})|" th:id="song_${song.id}"><span th:text="${song.name}"></span></a>
          </div>
      </div>
  </div>

</fieldset>
</div>

</div>

    // new mijn test gedeelte end

    <div>
    
      <h2 th:text="#{title.new}">Add new Seed Starter</h2>

      <form action="#" th:action="@{/seedstartermng}" th:object="${seedStarter}" method="post">
    
        <fieldset>
          
          <legend th:text="#{seedstarter.data}">Seed Starter Data</legend>

          <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          </ul>

          
          <div>
            <label for="datePlanted">
              <span th:text="#{seedstarter.datePlanted}">Date planted</span>
              (<span th:text="#{date.format}">YYYY/MM/DD</span>)
            </label>
            <input type="text" th:field="*{datePlanted}" th:errorclass="fieldError" />
          </div>
          <div>
            <label th:for="${#ids.next('covered')}" th:text="#{seedstarter.covered}">Covered</label>
            <input type="checkbox" th:field="*{covered}" />
          </div>
          <div>
            <label for="type" th:text="#{seedstarter.type}">Type</label>
            <select th:field="*{type}" size="10">
              <option th:each="type : ${allTypes}" th:value="${type}" th:text="#{${'seedstarter.type.' + type}}">Wireframe</option>
            </select>
          </div>
          <div>
            <label th:text="#{seedstarter.features}">Features</label>
            <ul>
              <li th:each="feat : ${allFeatures}">
                <input type="checkbox" th:field="*{features}" th:value="${feat}" />
                <label th:for="${#ids.prev('features')}" th:text="#{${'seedstarter.feature.' + feat}}">Electric Heating</label>
              </li>
              <li th:remove="all">
                <input id="removed1" type="checkbox" /> <label for="removed1">Turf</label>
              </li>
            </ul>
          </div>
    
          <div>
            <label th:text="#{seedstarter.rows}">Rows</label>
            <table>
              <thead>
                <tr>
                  <th th:text="#{seedstarter.rows.head.rownum}">Row</th>
                  <th th:text="#{seedstarter.rows.head.variety}">Variety</th>
                  <th th:text="#{seedstarter.rows.head.seedsPerCell}">Seeds per cell</th>
                  <th>
                    <button type="submit" name="addRow" th:text="#{seedstarter.row.add}">Add row</button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="row,rowStat : *{rows}">
                  <td th:text="${rowStat.count}">1</td>
                  <td>
                    <select th:field="*{rows[__${rowStat.index}__].variety}">
                      <option th:each="var : ${allVarieties}" th:value="${var.id}" th:text="${var.name}">Thymus Thymi</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" th:field="*{rows[__${rowStat.index}__].seedsPerCell}" th:errorclass="fieldError" />
                  </td>
                  <td>
                    <button type="submit" name="removeRow" th:value="${rowStat.index}" th:text="#{seedstarter.row.remove}">Remove row</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    
          <div class="submit">
            <button type="submit" name="save" th:text="#{seedstarter.create}">Add Seed Starter</button>    
          </div>
        
        </fieldset>
          

      </form>
        
    </div>

  </body>
</html>